footer.footer
        .footer__logo-box.h-center-text.h-margin-bottom-medium
          span.footer__logo-text
            | TheBaoDev_
        .footer__wrapper
          .footer__nav
            ul.footer__list
              li.footer__item
                a.footer__link(href='#')
                  | Home
              li.footer__item
                a.footer__link(href='#how-it-build')
                  | How it build
              li.footer__item
                a.footer__link(href='#feed-backs')
                  | Feedbacks
              li.footer__item
                a.footer__link(href='#my-works')
                  | My works
              li.footer__item
                a.footer__link(href='#contact-me')
                  | Contact
          .footer__copyright
            | Built by THEBAODEV__ for training program of Sun*. Copyright © by
            | THEBAODEV__.
