header.header
      .header__right
        .header__logo-box
          span.header__logo-text
            | TheBaoDev_
        .header__social-box
          a.header__social-link(href='#')
            i.fab.fa-linkedin
          a.header__social-link(href='#')
            i.fab.fa-github-square
          a.header__social-link(href='#')
            i.fab.fa-facebook-square
      .header__middle-box
        h1.heading-primary.h-faded-text
          | _Build Your Dream
      .header__graphic-box
        img.header__main-graphic.header__main-graphic--01(src='../resources/images/main-graphic/PC.svg', alt='PC')
        img.header__main-graphic.header__main-graphic--02(src='../resources/images/main-graphic/your-domain.svg', alt='PC')
        img.header__main-graphic.header__main-graphic--03(src='../resources/images/main-graphic/first-person.svg', alt='PC')
        img.header__main-graphic.header__main-graphic--04(src='../resources/images/main-graphic/second-person.svg', alt='PC')
      .h-center-text.h-margin-top-big
        a.btn.btn--white.btn--heading(href='#')
          | Contact now!!!