.navigation
      input#navi-toogle.navigation__checkbox(type='checkbox', name='navi-toogle')
      label.navigation__button(for='navi-toogle')
        span.navigation__icon    
      .navigation__background
      nav.navigation__nav
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href='#')
              span 01.
              | 							Home
          li.navigation__item
            a.navigation__link(href='#how-it-build')
              span 02.
              | 							How it build
          li.navigation__item
            a.navigation__link(href='#feed-backs')
              span 03.
              | 							Feedbacks
          li.navigation__item
            a.navigation__link(href='#my-works')
              span 04.
              | 							My works
          li.navigation__item
            a.navigation__link(href='#contact-me')
              span 05.
              | 							Contact