section.about-me
        .about-me__info-box
          div
            p.big-size-paragraph(class='.big-size-paragraph--light')
              | I'm a passionate developer - experienced with mobile and web
              | development.
            .about-me__buttons
              a.btn.btn--main(href='#') Contact me
              a.btn.btn--outline(href='#') Read more
        span.divider
        .about-me__more-box
          div
            p.paragraph
              | Still, I am always eager to learn anew and make my skill sharper
              | to produce awesome real-life application whenever I get any
              | chance.
            p.paragraph
              | Laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad min
              | tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
              | consequat.