section#feed-backs.feed-backs
        .h-center-text.h-margin-bottom-medium
          h2.heading-secondary.heading-secondary--white
            | Feedbacks
        .feed-backs__box
          .feedback
            img.feedback__avatar(src='../resources/images/avatars/avatar-01.jpeg', alt='')
            p.paragraph
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
              | accusantium saepe veniam nam, rem dignissimos mollitia
            p.feedback__info
              span.feedback__info--main
                | TheBaoDev
              span.feedback__info--sub
                | Sun* Inc.
          .feedback
            img.feedback__avatar(src='../resources/images/avatars/avatar-02.jpeg', alt='')
            p.paragraph
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
              | accusantium saepe veniam nam, rem dignissimos mollitia
            p.feedback__info
              span.feedback__info--main
                | Bao Nguyen
              span.feedback__info--sub
                | Sun* Inc.
          .feedback
            img.feedback__avatar(src='../resources/images/avatars/avatar-03.jpeg', alt='')
            p.paragraph
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
              | accusantium saepe veniam nam, rem dignissimos mollitia
            p.feedback__info
              span.feedback__info--main
                | The Bao
              span.feedback__info--sub
                | Framgia Inc.
          .feedback
            img.feedback__avatar(src='../resources/images/avatars/avatar-04.jpeg', alt='')
            p.paragraph
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
              | accusantium saepe veniam nam, rem dignissimos mollitia
            p.feedback__info
              span.feedback__info--main
                | Vinh Bao
              span.feedback__info--sub
                | Sun* Inc.