section#how-it-build.how-it-build
        .h-center-text.h-margin-bottom-medium
          h2.heading-secondary
            | How it build
        .how-it-build__box
          .card
            img.card__image(src='../resources/images/how-it-build/discussion.svg', alt='how it build')
            h3.heading-tertiary.h-margin-top-small
              | Discussion
            p.paragraph.card__text
              | sit amet consectetur adipisicing elit. Reiciendis, perspiciatis
              | odit doloribus odio, numquam nulla qui unde provident veniam
              | tempora quis, minus nisi
          .card
            img.card__image(src='../resources/images/how-it-build/design.svg', alt='how it build')
            h3.heading-tertiary.h-margin-top-small
              | Designing
            p.paragraph.card__text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Reiciendis, perspiciatis odit doloribus odio, numquam nulla qui
              | unde provident
          .card
            img.card__image(src='../resources/images/how-it-build/coding.svg', alt='how it build')
            h3.heading-tertiary.h-margin-top-small
              | Coding
            p.paragraph.card__text
              | doloribus odio, numquam nulla qui unde provident veniam tempora
              | quis, minus nisi necessitatibus optio quam expedita sed ad ab!