section#my-works.my-works
        .my-works__heading.h-margin-bottom-medium
          h2.heading-secondary
            | See my works
          span.underline
        .slider
          #slide-1.slide
            .slide__description-box.h-margin-top-medium
              p.big-size-paragraph
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Dicta, sint et quas,
              p.paragraph
                | earum enim rem minima optio eaque sapiente eum nam?
                | Perspiciatis, dignissimos provident. Odit unde quibusdam
                | repudiandae sapiente doloribus?
            .slide__thumbnail-box
              img.slide__thumbnail(src='../resources/images/devices/iphonexmacbook.svg', alt='mockup')
          #slide-2.slide
            .slide__description-box.h-margin-top-medium
              p.big-size-paragraph
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Dicta, sint et quas,
              p.paragraph
                | earum enim rem minima optio eaque sapiente eum nam?
                | Perspiciatis, dignissimos provident. Odit unde quibusdam
                | repudiandae sapiente doloribus?
            .slide__thumbnail-box
              img.slide__thumbnail(src='../resources/images/devices/iphonexmacbook.svg', alt='mockup')
          #slide-3.slide
            .slide__description-box.h-margin-top-medium
              p.big-size-paragraph
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                | Dicta, sint et quas,
              p.paragraph
                | earum enim rem minima optio eaque sapiente eum nam?
                | Perspiciatis, dignissimos provident. Odit unde quibusdam
                | repudiandae sapiente doloribus?
            .slide__thumbnail-box
              img.slide__thumbnail(src='../resources/images/devices/iphonexmacbook.svg', alt='mockup')
        .my-works__jump-buttons.h-margin-top-big
          a(href='#slide-1') 1
          a(href='#slide-2') 2
          a(href='#slide-3') 3