:root {
	--color-primary: #30a2ed;
	--color-primary-light: #579ecc;
	--color-primary-light-alpha: rgba(87, 158, 204, 0.8);
	--color-primary-dark: #2980b9;
	--color-primary-dark-alpha: rgba(41, 128, 185, 0.8);

	--color-yellow: #f5a623;
	--color-grey-light-1: #ebebeb;
	--color-grey-light-2: #d8d8d8;
	--color-white: #f8f8f8;
	--color-white-alpha: rgba(255, 255, 255, 0.8);
	--color-grey-dark-1: #606060;
	--color-grey-dark-2: #383838;

	--shadow-light: 0 0 0.5rem rgba(107, 107, 107, 0.3);
	--shadow-dark: 0 0 3rem rgba(0, 0, 0, 0.267);
	--line: 1px solid var(--color-grey-light-2);
	--blue-line: 1px solid var(--color-primary-dark);
	--big-blue-line: 2px solid var(--color-primary-dark);
	--main-font: 'Source Sans Pro Regular', 'Lato', 'Arial', sans-serif;
	--heading-font: 'DIN Condensed Bold', 'Lato', 'Arial', sans-serif;
	--light-font: 'Source Sans Pro Light', 'Lato', 'Arial', sans-serif;
}
@font-face {
	font-family: 'DIN Condensed Bold';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Condensed Bold'),
		url('../fonts/DINCondensed-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro Light';
	font-style: normal;
	font-weight: normal;
	src: local('Source Sans Pro Light'),
		url('../fonts/SourceSansPro/SourceSansPro-Light.otf.woff') format('woff');
}
@font-face {
	font-family: 'Source Sans Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Source Sans Pro Regular'),
		url('../fonts/SourceSansPro/SourceSansPro-Regular.otf.woff') format('woff');
}
@font-face {
	font-family: 'Source Sans Pro Semibold';
	font-style: normal;
	font-weight: normal;
	src: local('Source Sans Pro Semibold'),
		url('../fonts/SourceSansPro/SourceSansPro-Semibold.otf.woff') format('woff');
}

/*------------------------------------*/
/* BASIC SETUP */
/*------------------------------------*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
html {
	/* 10px/16px = 62.5% => 1rem = 10px */
	font-size: 62.5%;
}

body {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	font-family: var(--main-font);
	font-size: 1.5rem;
}

/*------------------------------------*/
/* BUTTONS */
/*------------------------------------*/
.btn {
	font-size: 1.8rem;
	font-family: var(--light-font);
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	padding: 1.5rem 3rem;
	/* for the <button>  */
	border: none;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.btn:hover {
	-webkit-transform: translateY(-0.2rem);
	transform: translateY(-0.2rem);
	-webkit-box-shadow: var(--shadow-light);
	box-shadow: var(--shadow-light);
}
.btn:hover::after {
	-webkit-transform: scaleX(1.4) scaleY(1.6);
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
.btn:active,
.btn:focus {
	outline: none;
	-webkit-transform: translateY(-0.1rem);
	transform: translateY(-0.1rem);
	-webkit-box-shadow: var(--shadow-light);
	box-shadow: var(--shadow-light);
}

.btn:not(:last-child) {
	margin-right: 2rem;
}
.btn--main {
	background-color: var(--color-primary-dark);
	color: var(--color-white);
}
.btn--outline {
	background-color: transparent;
	color: var(--color-primary-dark);
	border: var(--blue-line);
}
.btn--white {
	background-color: var(--color-white);
	color: var(--color-primary-dark);
}
.btn--heading {
	font-family: var(--heading-font);
	font-size: 2.5rem;

	padding: 1.5rem 2.5rem 1rem 2.5rem;
	text-transform: uppercase;
}

/*------------------------------------*/
/* TYPOGRAPHY */
/*------------------------------------*/
.heading-primary {
	font-size: 12rem;
	text-transform: uppercase;
	display: block;
	font-family: var(--heading-font);
	color: var(--color-white);
	letter-spacing: 5px;
}
.heading-secondary {
	font-size: 5rem;
	font-family: var(--heading-font);
	color: var(--color-primary-dark);
	text-transform: uppercase;
}
.heading-secondary--white {
	color: var(--color-white);
}

.heading-tertiary {
	font-size: 3rem;
	font-family: var(--heading-font);
	color: var(--color-primary-dark);
	text-transform: uppercase;
	text-align: center;
}

.big-size-paragraph {
	font-size: 2.5rem;
	color: var(--color-grey-dark-1);
}
.big-size-paragraph:not(:last-child) {
	margin-bottom: 2rem;
}
.big-size-paragraph--light {
	font-family: var(--light-font);
}
.paragraph {
	font-family: var(--light-font);
	color: var(--color-grey-dark-1);
	line-height: 1.3;
}
.paragraph:not(:last-child) {
	margin-bottom: 2rem;
}
/*------------------------------------*/
/* EXTRA COMPONENTS	 */
/*------------------------------------*/
.divider {
	display: inline-block;
	width: 0;
	height: 15rem;
	margin: auto 0;
	border-left: var(--blue-line);
	border-right: var(--blue-line);
}
.underline {
	float: right;
	width: 9rem;
	height: 0;
	border-top: var(--big-blue-line);
	border-bottom: var(--big-blue-line);
}

/*------------------------------------*/
/* HELPERS	 */
/*------------------------------------*/
.h-faded-text {
	opacity: 0.2;
}
.h-center-text {
	text-align: center;
}
.h-margin-top-big {
	margin-top: 8rem !important;
}
.h-margin-top-medium {
	margin-top: 4rem !important;
}
.h-margin-top-small {
	margin-top: 2rem !important;
}
.h-margin-bottom-big {
	margin-bottom: 8rem !important;
}
.h-margin-bottom-medium {
	margin-bottom: 4rem !important;
}
.h-margin-bottom-small {
	margin-bottom: 2rem !important;
}

/*------------------------------------*/
/* ANIMATIONS	 */
/*------------------------------------*/

@-webkit-keyframes move02FromTop {
	0% {
		margin-top: -40%;
	}
	100% {
		margin-top: -25%;
	}
}

@keyframes move02FromTop {
	0% {
		margin-top: -40%;
	}
	100% {
		margin-top: -25%;
	}
}
@-webkit-keyframes move03FromTop {
	0% {
		margin-top: -40%;
	}
	100% {
		margin-top: -15%;
	}
}
@keyframes move03FromTop {
	0% {
		margin-top: -40%;
	}
	100% {
		margin-top: -15%;
	}
}
@-webkit-keyframes move04FromTop {
	0% {
		margin-top: -70%;
	}
	100% {
		margin-top: -50%;
	}
}
@keyframes move04FromTop {
	0% {
		margin-top: -70%;
	}
	100% {
		margin-top: -50%;
	}
}
