/* 
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px + : Desktops ( Current styling )
*/

/* Tablet landscape */
/* 900 - 1200px */
@media only screen and (max-width: 1200px) {
	/* BASE */

	/* 1rem = 9px |  9px/16px = 56.25% */
	html {
		font-size: 56.25%;
	}

	/*-----*/

	.header__graphic-box {
		width: 65%;
	}

	.feed-backs {
		padding: 5rem;
	}
	.my-works__item {
		padding: 0;
	}
	.contact-me {
		padding: 10rem;
	}
	.footer {
		padding: 5rem 10rem;
	}
}
/* Tablet portrait  */
/* 600 - 900px */
@media only screen and (max-width: 900px) {
	/* BASE */
	/* 1rem = 8px |  8px/16px = 50% */

	html {
		font-size: 50%;
	}

	.h-margin-top-big {
		margin-top: 5rem !important;
	}
	.h-margin-top-medium {
		margin-top: 3rem !important;
	}
	.h-margin-top-small {
		margin-top: 1rem !important;
	}
	.h-margin-bottom-big {
		margin-bottom: 5rem !important;
	}
	.h-margin-bottom-medium {
		margin-bottom: 3rem !important;
	}
	.h-margin-bottom-small {
		margin-bottom: 1rem !important;
	}
	/*-----*/

	.header__graphic-box {
		width: 80%;
	}

	.how-it-build {
		padding: 10rem 0;
	}
	.about-me {
		padding: 15rem 5rem 5rem 5rem;
	}
}
/* Phones */
/* 0 - 600px */

@media only screen and (max-width: 600px) {
	/* 1rem =6px | 6px/16px = 37.5%; */
	html {
		font-size: 37.5%;
	}

	/*------------------------------------*/
	/* HEADER */
	/*------------------------------------*/
	.header__graphic-box {
		width: 100%;
	}
	.header__right {
		-webkit-transform: translateX(-6rem);
		transform: translateX(-6rem);
	}
	/*------------------------------------*/
	/* NAVIGATION */
	/*------------------------------------*/
	.navigation__button,
	.navigation__background {
		left: 3rem;
	}
	/*------------------------------------*/
	/* FOOTER*/
	/*------------------------------------*/
	.footer__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.footer__nav {
		border-top: var(--line);
		margin-right: 0;
		padding: 2rem 5rem;
		max-width: 100%;
	}
	.footer__copyright {
		border-top: var(--line);
		padding: 2rem 0;
		max-width: 100%;
		text-align: center;
	}
	/*------------------------------------*/
	/* HOW IT BUILD SECTION */
	/*------------------------------------*/
	.how-it-build__step-box {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 0 3rem;
	}

	.how-it-build__step-item:not(:last-child) {
		margin-bottom: 3rem;
	}
	/*------------------------------------*/
	/* ABOUT ME SECTION */
	/*------------------------------------*/
	.about-me {
		padding: 15rem 2rem 5rem 2rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.about-me__info-box {
		margin-bottom: 3rem;
	}
	.divider {
		display: none;
	}
	/*------------------------------------*/
	/* FEEDBACKS SECTION */
	/*------------------------------------*/
	.feed-backs__fb-box {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.feed-backs__fb-item {
		max-width: 100%;
	}
	/*------------------------------------*/
	/* MY WORKS SECTION */
	/*------------------------------------*/
	.my-works {
		padding: 5rem;
	}

	/*------------------------------------*/
	/* CONTACT ME SECTION */
	/*------------------------------------*/
	.contact-me {
		padding: 5rem;
	}
	.contact-me__form-box {
		background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				from(var(--color-white-alpha)),
				to(var(--color-white-alpha))
			),
			url(./img/contact-me/background-form.jpg);
		background-image: linear-gradient(
				var(--color-white-alpha) 0%,
				var(--color-white-alpha) 100%
			),
			url(./img/contact-me/background-form.jpg);
		background-size: cover;
	}

	.form {
		width: 100%;
	}
}
